<div id='items_container' class="container-fluid mt-4">
  <div class="row justify-content-center">
    <% countries.each do |country| %>
      <div class="col-xs col-sm-2 col-md-4 mb-4">
        <div class="card mb-4">
          <h3 class="card-header text-center"> <%= country.en_title %></h3>
            <p>=== Image ===</p>
          <div class="card-body">
            <%= link_to 'See more', country_path(country.id) %>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>