<% if @french_foreigners_countings.length > 0 %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title mt-3">French nationals by year :</h5>
        <div class="row">
          <% @french_foreigners_countings.each do |row| %>
            <div class="col-6 col-sm-3 col-md-2 col-lg-1 px-1">
              <div class="card text-white bg-primary mb-2">
                <div class="card-body p-1">
                  <div class="card-title text-center mb-1"><%= row.year %></div>
                  <div class="card-text text-center"><%= row.number_of_foreigners %></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
<% else %>
  <div>No nationals !</div>
<% end %>